<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brain.revanth.sampleapplication2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gbisquare"
        android:label="@string/AppName"
        android:windowSoftInputMode="stateAlwaysHidden">
        <activity
            android:name=".RegisterActivity"
            android:label="@string/splashactivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/loginactivity"
            android:theme="@style/AppThemee" />
        <activity
            android:name=".SplashScreen"
            android:label="@string/registeractivity"
            android:theme="@style/AppThemee" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/homeactivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeee" />
        <activity
            android:name=".chat.ChatActivity"
            android:label="Coversation" />
        <activity
            android:name=".discover.DiscoveriActivity"
            android:label="Discover"
            android:theme="@style/AppThemee" />
        <activity
            android:name=".favorates.FavoritesActivity"
            android:label="Favourites" />
        <activity
            android:name=".shedule.SheduleActivity"
            android:label="Events" />
        <activity
            android:name=".chat.NewMessageActivity"
            android:label="Conversation"
            android:parentActivityName=".chat.ChatActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chat.ChatActivity" />
        </activity>
        <activity
            android:name=".leaderboard.LeaderBoardActivity"
            android:label="@string/title_activity_more"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemee"></activity>
        <activity
            android:name=".MyideasActivity"
            android:label="@string/title_activity_myideas"
            android:theme="@style/AppThemee"></activity>
        <activity
            android:name=".shedule.EventsActivity"
            android:theme="@style/AppThemee"></activity>
        <activity
            android:name=".ComplaintsActivity"
            android:theme="@style/AppThemee"></activity>
        <activity
            android:name=".shedule.MyteamActivity"
            android:theme="@style/AppThemee"></activity>
        <activity
            android:name=".discover.SinglePeopleActivity"
            android:theme="@style/AppThemee"></activity>
        <activity
            android:name=".shedule.SingleEventActivity"
            android:theme="@style/AppThemee"></activity>
        <activity android:name=".discover.SingleServiceActivity"></activity>
        <activity
            android:name=".NewIdeaActivity"
            android:theme="@style/AppThemee"></activity>
        <activity android:name=".IdeasRegActivity"
            android:theme="@style/AppThemee"></activity>
    </application>

</manifest>